<p>住所</p>
<p><%= team.address %></p>(住所名表示)
<!--<input id="address" type="textbox" value="GeekSalon">-->
<!--<input type="button" value="Encode" onclick="codeAddress()">-->
<div id="map"></div>(地図を表示)
・・・

<style type="text/css">
  #map { height: 200px;
         width: 50%;}
</style>

<script type="text/javascript">
  function initMap() {
// #latitude,longitudeから位置を特定
    var test ={lat: <%= team.latitude %>, lng: <%= team.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= team.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

// #Map上の指定した位置にピンを挿して表示する
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }

    let geocoder

    function codeAddress(){
      let inputAddress = document.getElementById('address').value;

      geocoder.geocode( { 'address': inputAddress}, function(results, status) {
        if (status == 'OK') {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });
        } else {
          alert('該当する結果がありませんでした：' + status);
        }
      });
    }

</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap">
</script>