<div class="card mb-2">
  <div class="row no-gutters">
    <div class="col-md-2 my-3">
      <%= link_to team_path(team) do %>
        <%= attachment_image_tag team, :image, :fill, 100, 100, fallback: "no_image.jpg", size:'100x100' %><br>
        <%= team.name %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <%= link_to sport_path(team.sport_id) do %>
          <%= team.sport.name %><br>
        <% end %>
        <% if team.status == "active" %>
          <span class=""><%= team.status_i18n %></span>
        <% else %>
          <span class="text-muted"><%= team.status_i18n %></span>
        <% end %>
        <i class="fas fa-users m-1"></i><%= team.number %>人
        <i class="far fa-comment m-1"></i><%= team.comments.count %>
        <span id="favorites_buttons_<%= team.id %>">
          <%= render 'teams/favorite', team: team %>
        </span><i class="fas fa-map-pin m-1"></i><%= team.prefecture_name %><span class="ml-1"><%= team.address %></span><br>
        <%= team.introduction %>
      </div>
    </div>
    <div class="col-md-2 my-3">
      <%= link_to user_path(team.user) do %>
        <%= attachment_image_tag team.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class:"my-1" %><br>
        <i class="fas fa-user-lock m-1"></i><%= team.user.handle_name %>
      <% end %>
    </div>
  </div>
</div>