<div class="row">
  <div class="col-12 text-center">
    <i class="fas fa-users fa-3x mt-4 mb-2"></i>
    <h2 class="text-center bg-gray">チーム一覧</h2>
    <table class = "table table-hover table-bordered table-condensed">
      <thead>
        <tr>
          <th>画像</th>
          <th>チーム名</th>
          <th>チーム紹介</th>
          <th>活動人数</th>
          <th>活動場所</th>
          <th>ステータス</th>
          <th>いいね</th>
          <th>コメント</th>
          <th>Vスポーツ</th>
          <th>チーム設立者</th>
        </tr>
      </thead>
      <tbody>
        <% @teams.each do |team| %>
        <tr>
          <td>
            <%= attachment_image_tag team, :image, :fill, 100, 100, fallback: "no_image.jpg", size:'100x100' %>
          </td>
          <td>
            <%= link_to team_path(team.id) do %>
              <%= team.name %>
            <% end %>
          </td>
          <td>
            <%= team.introduction %>
          </td>
          <td>
            <%= team.number %>
          </td>
          <td>
            <%= team.address %>
          </td>
          <td>
            <%= (team.status)? '活動中' : '休止中' %>
          </td>
          <td>

          <% if team.favorited_by?(current_user) %>
            <%= link_to team_favorites_path(team), method: :delete do %>
              ♥<%= team.favorites.count %>
            <% end %>
          <% else %>
            <%= link_to team_favorites_path(team), method: :post do %>
              ♡<%= team.favorites.count %>
            <% end %>
          <% end %>
          </td>
          <td>
            <%= team.comments.count %>
          </td>
          <td>
            <%= link_to sports_index_path do %>
              <%= team.sport.name %>
            <% end %>
          </td>
          <td>
            <%= link_to user_path(team.user) do %>
              <%= attachment_image_tag team.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><br><%= team.user.handle_name %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

  <div class ="row">
    <div class ="col-12  col-offset-4 mt-5 text-center">
      <table class="table table-hover table-bordered table-condensed table-striped">
        <thead class="thead-dark">
          <tr>
            <th><%= link_to 'チーム検索', sports_index_path, class: 'nav-link text-light' %></th>
          </tr>
        </thead>
        <tbody>
          <% @sports.each do |sport| %>
            <tr>
             <td><%= link_to sport.name, teams_path(sport_id: sport.id) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>

