<h2 class="text-center bg-gray">チーム一覧</h2>
<div class="row">
  <div class="col-10 col-offset-1">
  <table class = "table table-hover table-bordered table-condensed" >
    <thead>
      <tr>
        <th>画像</th>
        <th>チーム名</th>
        <th>チーム紹介</th>
        <th>活動人数</th>
        <th>活動場所</th>
        <th>活動ステータス</th>
        <th>いいね</th>
        <th>コメント</th>
      </tr>
    </thead>
    <tbody>
      <% @teams.each do |team| %>
      <tr>
        <td>
          <%= attachment_image_tag team, :image, :fill, 100, 100, fallback: "no_image.jpg", size:'100x100' %>
        </td>
        <td>
          <%= link_to team_path(team.id) do %>
            <%= team.name %>
          <% end %>
        </td>
        <td>
          <%= team.introduction %>
        </td>
        <td>
          <%= team.number %>
        </td>
        <td>
          <%= team.address %>
        </td>
        <td>
          <%= team.status %>
        </td>
        <td>
          iine
        </td>
        <td>
          <%= link_to "#{team.comments.count} コメント", team_path(team.id) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>