<h2 class="text-center bg-gray">チーム投稿</h2>
<div class = "row">
  <div class = "col-md-12 text-center">
    <%= form_with model: @team, url: teams_path, local:true do |f| %>
      <p class="mt-5">チーム画像</p>
        <%= f.attachment_field :image %>
      <p class="mt-5">チーム名</p>
        <%= f.text_field :name, class: 'form-control' %>
      <p class="mt-5">チーム紹介</p>
        <%= f.text_area :introduction, class: 'form-control' %>
      <p class="mt-5">活動人数</p>
        <%= f.text_field :number, class: 'form-control' %>
      <p class="mt-5">活動場所</p>
        <%= f.text_field :address, class: 'form-control' %>
      <!--<p>活動ステータス</p>-->
      <!--  %= f.text_field :status %>-->
      <p class="mt-5">Vスポーツ</p>
        <%= f.collection_select :sport_id, @sports, :id, :name, :include_blank => "  --  選択してください  --  ", class: 'form-control' %>
      <div class="actions mt-5">
        <%= f.submit "チーム設立", class:'btn btn-outline-info' %>
      </div>

    <% end %>
  </div>
</div>