<%= render "devise/shared/error_messages", resource: resource %>
<div class="row">
  <div class="col-12 text-center">
    <i class="fas fa-user-plus fa-3x mt-4 mb-2"></i>
    <h2 class="text-center bg-gray">新規会員登録</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
      <div class="font-weight-bold mt-5">プロフィール画像</div>
      <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %><br>
      <div class="font-weight-bold mt-5">
        <label>ハンドルネーム</label>
        <%= f.text_field :handle_name, autofocus: true, class:"form-control" %>
      </div>
      <div class="font-weight-bold mt-5">
        <label>メールアドレス</label>
        <%= f.email_field :email, autofocus: true, class:"form-control" %>
      </div>
      <div class="font-weight-bold mt-5">
        <label>パスワード</label>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
      </div>
      <div class="font-weight-bold mt-5">
        <label>パスワード(確認用)</label>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
      </div>
      <div class="actions font-weight-bold mt-5">
        <%= f.submit "新規登録", class:'btn btn-outline-info' %>
      </div>
    <% end %>
  </div>
</div>
<h2 class="text-center bg-gray mt-5">既に登録済みの方</h2>
<%= render "devise/shared/links" %>