<div class="row mt-5">
  <div class="col-12 text-center">
    <i class="fas fa-comments fa-3x mt-4 mb-2"></i>
    <h2 class="text-center">コメント件数：<%= comments.count %></h2>
  </div>
  <% if comments.present? %>
    <table class="table table-hover table-condensed text-center" style="table-layout:fixed;">
      <thead>
        <tr>
          <th style="width:150px;">会員</th>
          <th>コメント</th>
          <th>コメント日時</th>
          <th style="width:100px;"></th>
        </tr>
      </thead>
      <tbody>
        <% comments.each do |comment| %>
          <tr>
            <td>
              <%= link_to user_path(comment.user) do %>
                <%= attachment_image_tag comment.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><br><%= comment.user.handle_name %>
              <% end %>
            </td>
            <td>
              <%= comment.comment %>
            </td>
            <td>
              <%= comment.created_at.strftime('%Y/%m/%d') %>
            </td>
            <td>
              <% if comment.user == current_user %>
                <div class="comment-delete">
                  <%= link_to "削除", team_comment_path(comment.team_id, comment.id), method: :delete, remote: true, data: { confirm: '削除しますか？' }, class:'btn btn-outline-info' %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="col-12 text-center">
      <i class="fas fa-exclamation fa-2x mt-4 text-center"></i>
      <p class="mt-2 text-center">コメントがありません。</p>
    </div>
  <% end %>
</div>