<div class="row">
 <div class="col-12 text-center">
  <i class="fas fa-passport fa-3x mt-4 mb-2"></i>
  <h2>Vスポーツ詳細</h2>
    <table class="table">
     <tbody>
      <tr>
        <%= attachment_image_tag @sport, :image, :fill, 150, 150, fallback: "no_image.jpg", size:'150x150' %>
      </tr>
      <tr>
        <th><label>Vスポーツ名</label></th>
        <td><%= @sport.name %></td>
      </tr>
      <tr>
        <th><label>概要</label></th>
        <td><%= @sport.introduction %></td>
      </tr>
      <tr>
        <th><label>いいね</label></th>
        <td>
          <!--<% if @sport.favorited_by?(current_user) %>-->
          <!--  <%= link_to sport_favorites_path(@sport), method: :delete do %>-->
          <!--    ♥<%= @sport.favorites.count %>-->
          <!--  <% end %>-->
          <!--<% else %>-->
          <!--  <%= link_to sport_favorites_path(@sport), method: :post do %>-->
          <!--    ♡<%= @sport.favorites.count %>-->
          <!--  <% end %>-->
          <!--<% end %>-->
        </td>
      </tr>
    </tbody>
   </table>

      <%= link_to "編集する", edit_sport_path(@sport), class: "btn btn-outline-info text-center"%>

  </div>
</div>

<div class="comments text-center">
  <i class="fas fa-comments fa-3x mt-4 mb-2"></i>
  <h2>コメント件数：<%= @sport.comments.count %></h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>ハンドルネーム</th>
        <th>コメント</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @sport.comments.each do |comment| %>
      <tr>
        <td>
          <%= attachment_image_tag comment.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
        </td>
        <td>
          <%= comment.user.handle_name %>
        </td>
        <td>
          <%= comment.comment %>
        </td>
        <td>
          <%= comment.created_at.strftime('%Y/%m/%d') %>
        </td>
        <td>
          <% if comment.user == current_user %>
          <div class="comment-delete">
            <%= link_to "削除", sport_comment_path(comment.sport, comment), method: :delete %>
          </div>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="new-comment text-center">
<%= form_with(model:[@sport, @comment], local: true) do |f| %>
  <%= f.text_area :comment, placeholder: "コメントをここに", class:"form-control mb-4" %>
  <%= f.submit "送信する", class: "btn btn-outline-info" %>
<% end %>
</div>