<div class="row">
  <div class="col-12 text-center">
    <i class="fas fa-user-friends fa-3x mt-4 mb-2"></i>
    <h2 class="text-center bg-gray">会員一覧</h2>
    <% if @users.present? %>
    <table class="table table-hover table-bordered table-condensed">
      <thead>
        <tr>
          <th></th>
          <th>ハンドルネーム</th>
          <th>自己紹介</th>
          <th>フォロー数</th>
          <th>フォロワー数</th>
          <th>フォロー</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% User.all.where.not(id: current_user.id).each do |user| %>
        <tr>
          <td>
            <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
          </td>
          <td>
            <%= link_to user_path(user) do %>
              <%= user.handle_name %>
            <% end %>
          </td>
          <td>
            <%= user.introduction %>
          </td>
          <td>
            <%= user.follower.count %>
          </td>
          <td>
            <%= user.followed.count %>
          </td>
          <td>
            <% if current_user.following?(user) %>
              <%= link_to unfollow_path(user.id), method: :POST do %>
                <i class="fas fa-user-slash fa-2x"></i>
              <% end %>
            <% else %>
              <%= link_to follow_path(user.id), method: :POST do %>
                <i class="fas fa-user-plus fa-2x"></i>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to "show", user_path(user), class:'btn btn-outline-info' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <div class="col-12 text-center">
        <i class="fas fa-exclamation fa-2x mt-4 text-center"></i>
        <p class="mt-2 text-center">会員がいません。</p>
      </div>
    <% end %>
    <%= link_to "マイページ", user_path(current_user), class: 'btn btn-outline-info mt-3' %>
  </div>
</div>
