<div class="row">
 <div class="col-md-12 text-center">
  <i class="fas fa-address-card fa-3x mt-4 mb-2"></i>
   <h2><%= @user.handle_name %>さんのページ</h2>

    <table class="table ">
      <tbody>
       <tr>
         <th><label>プロフィール画像</label></th>
         <td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %></td>
       </tr>
       <tr>
        <th><label>ハンドルネーム</label></th>
        <td><%= @user.handle_name %></td>
      </tr>
      <tr>
        <th><label>自己紹介</label></th>
        <td><%= @user.introduction %></td>
      </tr>
    <% if @user == current_user %>
      <tr>
        <th><label>名前</label></th>
        <td><%= @user.last_name %>
        <%= @user.first_name %></td>
      </tr>
      <tr>
        <th><label>カナ</label></th>
        <td><%= @user.kana_last_name %>
        <%= @user.kana_first_name %></td>
      </tr>
      <tr>
        <th><label>郵便番号</label></th>
        <td><%= @user.postcode %></td>
      </tr>
      <tr>
        <th><label>住所</label></th>
        <td>
          <%= @user.prefecture_name %>
          <%= @user.address_city %>
          <%= @user.address_street %>
          <%= @user.address_building %>
        </td>
      </tr>
      <tr>
        <th><label>電話番号</label></th>
        <td><%= @user.phone_number %></td>
      </tr>
      <tr>
        <th><label>メールアドレス</label></th>
        <td><%= @user.email %></td>
      </tr>
    <% end %>
    <% unless @user == current_user %>
      <tr>
        <th><label>フォロー</label></th>
        <td>
          <% if current_user.following?(@user) %>
            <%= link_to unfollow_path(@user.id), method: :POST do %>
              <i class="fas fa-user-slash fa-2x"></i>
            <% end %>
          <% else %>
            <%= link_to follow_path(@user.id), method: :POST do %>
              <i class="fas fa-user-plus fa-2x"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% if @user == current_user %>
    <%= link_to "編集する", edit_user_path, class: "btn btn-outline-info mt-3"%>
  <% end %>
  </div>
</div>