<div class="row">
  <div class="col-md-12 text-center">
    <i class="fas fa-envelope fa-3x mt-4 mb-2"></i>
    <h2 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.handle_name %> さんとのメッセージ</h2>
    <%= render 'chats/chat_list', chats: @chats, user: @user %>
    <%= form_with model: @chat do |f| %>
      <%= f.text_field :message, class:'form-control', :placeholder => "メッセージ" %>
      <%= f.hidden_field :room_id %><br>
      <%= f.submit "送信", class:'btn btn-outline-info' %>
    <% end %>
  </div>
</div>