<!--%= render 'layouts/error_messages', model: @sport %>-->
<div class="row">
  <div class="col-12 text-center">
    <i class="fas fa-passport fa-3x mt-4 mb-2"></i>
    <h2 class="text-center bg-gray">ベンチャースポーツ一覧</h2>
    <% if @sports.present? %>
      <div class="row">
        <% @sports.each do |sport| %>
          <div class="col-3 card shadow-ig py-3 px-2 text-center">
            <div class="sport-sport">
              <%= link_to sport_path(sport) do %>
                <%= attachment_image_tag sport, :image, size: "150x150", fallback: "no_image.jpg" %>
              <% end %>
            </div>
            <h5 class="sport-name my-3"><%= link_to sport.name, sport_path(sport) %></h5>
            <% sport.tags.each do |tag| %>
              <div>
                <%= link_to tags_path(tag.name), class: 'btn btn-outline-info m-1 p-1' do %>
                  <%= tag.name %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="col-12 text-center">
        <i class="fas fa-exclamation fa-2x mt-4 text-center"></i>
        <p class="mt-2 text-center">ベンチャースポーツがありません。</p>
      </div>
    <% end %>  
  </div>
</div>
