<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>
<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <div class="logo m-3">
        <%= image_tag asset_path 'vespo_logo.png' %>
       <!--<img src="/assets/vespo_logo.png" alt="" class="logo m-3">-->
      </div>
      <div class="sentence">
        <h1 class="text-warning my-3">Let's Venture Sports !!</h1>
        <h3 class="mt-4">あなたは"ベンチャースポーツ"をご存知ですか？</h3>
        <h4 class="my-3">
          <span class="text-danger">ベンチャースポーツ </span>は、
          <span class="indention">かつて<span class="text-primary"> マイナースポーツ</span></span>
          <span class="indention">と呼ばれていました。</span>
        </h4>
        <h5 class="my-3">
          その理由は、競技人口が<span class="text-primary"> 少なかった</span>からです。<br>
        </h5>
        <h5 class="mt-3">
          しかし、今後の成長が<span class="h4 text-danger"> 期待 </span>されるスポーツとして<span class="indention">呼ばれ方が変化しつつあります。</span><br>
        </h5>
        <h4 class="mt-3">
          つまり、<span class="">広めたい！</span>と思ったら、<span class="indention text-danger"> ベンチャースポーツ </span> であり、<br>
          オススメしたい！ と思ったら、<span class="indention"><span class="text-danger"> ベンチャースポーツ </span>なのです。</span>
        </h4>

        <div class="slider mt-3 mb-5" id="slider">
          <% @sports.each do |sport| %>
            <%= attachment_image_tag sport, :image, :fill, 300, 200, size:'300x200', class:"text-center" %>
           <% end %>
        </div>

        <h2 class="mt-5">"VESPO"とは？</h2>
        <h4 class="my-3">
          ベンチャースポーツをしたい人とベンチャースポーツチームの
          <span class="indention text-info">マッチングサービス </span> です。<br>
          "VESPO"はベンチャースポーツプレイヤー同士を
          <span class="indention">繋ぐ<span class="text-primary"> プラットフォーム </span>を目指しています。</span>
        </h4>
        <div class="row">
          <div class="col-4 card shadow-ig pt-3 px-2 text-center">
            <%= link_to sports_path, class: 'nav-link' do %>
              <h4 class="sport-sport"><i class="fas fa-passport fa-2x m-1"></i></h4>
              <h5 class="sport-name my-4"><span class="indention">ベンチャースポーツを</span><span class="indention">探す！</span></h5>
            <% end %>
          </div>
          <div class="col-4 card shadow-ig pt-3 px-2 text-center">
            <%= link_to teams_path, class: 'nav-link' do %>
              <h4 class="sport-sport"><i class="fas fa-search fa-2x m-1"></i></h4>
              <h5 class="sport-name my-4"><span class="indention">新しいコミュニティを</span><span class="indention">探す！</span></h5>
            <% end %>
          </div>
          <div class="col-4 card shadow-ig pt-3 px-2 text-center">
            <%= link_to new_team_path, class: 'nav-link' do %>
              <h4 class="sport-sport"><i class="fas fa-plus-circle fa-2x m-1"></i></h4>
              <h5 class="sport-name my-4"><span class="indention">チームを設立して</span><span class="indention">アピールする！</span></h5>
            <% end %>
          </div>
        </div>
        <h4 class="my-4">
          <span class="indention">新しいことにチャレンジしたい人や、カラダを動かしたい人、</span>
          <span class="indention">転勤先に友人がいない、、、</span><br>
          <span class="indention">そんなお悩みをお持ちのそこのあなた！！</span>
        </h4>
        <h3 class="my-2 mb-5">ベンチャースポーツに<span class="text-danger mx-1">挑戦</span>してみませんか？</h3>
      </div>
      <h1 class="mt-5 mb-4" style="color: #009688">ー  VESPO情報  ー</h1>
      <div class="row">
        <div class="col-4 card pt-3 px-2 text-center">
          <%= link_to sports_path, class: 'nav-link' do %>
            <h4 class="sport-sport"><i class="fas fa-passport fa-2x m-1"></i></h4>
            <h6 class="sport-name my-2">ベンチャースポーツ数</h6>
            <h2><%= @sports.count %></h2>
          <% end %>
        </div>
        <div class="col-4 card shadow-ig pt-3 px-2 text-center">
          <%= link_to teams_path, class: 'nav-link' do %>
            <h4 class="sport-sport"><i class="fas fa-search fa-2x m-1"></i></h4>
            <h6 class="sport-name my-2">チーム数</h6>
            <h2><%= @teams.count %></h2>
          <% end %>
        </div>
        <div class="col-4 card shadow-ig pt-3 px-2 text-center">
          <%= link_to users_path, class: 'nav-link' do %>
            <h4 class="sport-sport"><i class="fas fa-user-friends fa-2x m-1"></i></h4>
            <h6 class="sport-name my-2">会員数</h6>
            <h2><%= @users.count %></h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>