<% if user_signed_in? %>
    <!--<li class = nav-link text-light >%= current_user.last_name %>!</li>-->
    <!--<li>%= link_to ' マイページ', customers_my_page_path, class: 'nav-link text-light' %></li>-->
    <li><%= link_to ' About',      about_path, class: 'nav-link text-light' %></li>
    <li><%= link_to ' Vスポーツ一覧', teams_path, class: 'nav-link text-light' %></li>
    <li><%= link_to ' チーム一覧', teams_path, class: 'nav-link text-light' %></li>
    <li><%= link_to ' チーム投稿', new_team_path, class: 'nav-link text-light' %></li>
    <!--<li>%= link_to ' マイチーム', team_path(@team.id), class: 'nav-link text-light' %></li>-->
    <li><%= link_to ' ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-light' %></li>
  <!--% elsif admin_signed_in? %>-->
    <!--<li>%= link_to ' 会員一覧', admin_users_path, class: 'nav-link text-light' %></li>-->
    <!--<li>%= link_to ' チーム一覧', admin_orders_path, class: 'nav-link text-light'%></li>-->
    <!--<li>%= link_to ' Vスポーツ一覧', admin_genres_path, class: 'nav-link text-light' %></li>-->
    <!--<li>%= link_to ' ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %></li>-->
  <% else %>
    <li><%= link_to ' About'  , about_path, class: 'nav-link text-light' %></li>
    <li><%= link_to ' Vスポーツ一覧', teams_path, class: 'nav-link text-light' %></li>
    <li><%= link_to ' 新規登録', new_user_registration_path, class: 'nav-link text-light' %></li>
    <li><%= link_to ' ログイン', new_user_session_path, class: 'nav-link text-light'%></li>
    <!--<li>%= link_to ' 管理者ログイン', new_admin_session_path, class: 'nav-link text-light bg-danger' %></li>-->
<% end %>