<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="vespo_title">
        <%= link_to root_path, class: 'nav-link vespo_title', data: { turbolinks: false } do %>
          <%= image_tag asset_path 'vespo_title.png', class: 'vespo_title' %>
        <% end %>
      </div>
      <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown" data-turbolinks="false">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li>
              <%= link_to user_path(current_user), class: 'profile nav-link text-light mr-5' do %>
                <%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:'50x50' %>
              <% end %>
            </li>
            <li>
              <%= link_to notifications_path, class: 'nav-link text-light' do %>
                <% if unchecked_notifications.any? %>
                  <i class="fa fa-bell fa-2x m-2 mr-4" style="color: gold;", data-toggle="tooltip", data-placement="bottom", title="お知らせ"></i>
                <% else %>
                  <i class="fas fa-bell fa-2x m-2 mr-4", data-toggle="tooltip", data-placement="bottom", title="お知らせ"></i>
                <% end %>
              <% end %>
            </li>
            <li>
              <%= link_to users_path, class: 'nav-link text-light' do %>
                <i class="fas fa-user-friends fa-2x m-2 mr-4", data-toggle="tooltip", data-placement="bottom", title="会員一覧"></i>
              <% end %>
            </li>
            <li>
              <%= link_to sports_path, class: 'nav-link text-light' do %>
                <i class="fas fa-passport fa-2x m-2 mr-4", data-toggle="tooltip", data-placement="bottom", title="ベンチャースポーツ"></i>
              <% end %>
            </li>
            <li>
              <%= link_to teams_path, class: 'nav-link text-light' do %>
                <i class="fas fa-search fa-2x m-2 mr-4", data-toggle="tooltip", data-placement="bottom", title="チーム一覧"></i>
              <% end %>
            </li>
            <li>
              <%= link_to new_team_path, class: 'nav-link text-light' do %>
                <i class="fas fa-plus-circle fa-2x m-2 mr-4", data-toggle="tooltip", data-placement="bottom", title="チーム設立"></i>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
                <i class="fas fa-sign-out-alt fa-2x m-2", data-toggle="tooltip", data-placement="bottom", title="ログアウト"></i>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to sports_path, class: 'nav-link text-light' do %>
                <i class="fas fa-passport fa-2x m-2 mr-4", data-toggle="tooltip", data-placement="bottom", title="ベンチャースポーツ"></i>
              <% end %>
            </li>
            <li>
              <%= link_to about_path, class: 'nav-link text-light' do %>
                <i class="fas fa-bell fa-2x m-2 mr-4", data-toggle="tooltip", data-placement="bottom", title="お知らせ"></i>
              <% end %>
            </li>
            <li data-turbolinks="false">
              <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
                <i class="fas fa-user-plus fa-2x m-2 mr-4", data-toggle="tooltip", data-placement="bottom", title="新規登録"></i>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
                <i class="fas fa-sign-in-alt fa-2x m-2", data-toggle="tooltip", data-placement="bottom", title="ログイン"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>