<header>
  <nav class="navbar navbar-expand-lg pt-4 pb-4 navbar-dark bg-dark ">
    <div class="container">
      <!--% if admin_signed_in? %>-->
        <!--<a class="navbar-brand" href="/admin"><i class="fas fa-quidditch"></i><span>　VESPO</span></a>-->
      <!--% else %>-->
        <a class="navbar-brand" href="/"><i class="fas fa-running"></i><span> VESPO </span><i class="fas fa-quidditch"></i></a>
      <!--% end %>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
              <li class = nav-link text-light ><%= current_user.handle_name %> , Let's Venture Sports !! </li>
              <li><%= link_to ' About',      about_path, class: 'nav-link text-light' %></li>
              <li><%= link_to ' マイページ', user_path(current_user.id), class: 'nav-link text-light' %></li>
              <li><%= link_to ' Vスポーツ一覧', sports_index_path, class: 'nav-link text-light' %></li>
              <li><%= link_to ' チーム一覧', teams_path, class: 'nav-link text-light' %></li>
              <li><%= link_to ' チーム投稿', new_team_path, class: 'nav-link text-light' %></li>
              <!--<li>%= link_to ' マイチーム', team_path(@team.id), class: 'nav-link text-light' %></li>-->
              <li><%= link_to ' ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-light' %></li>
            <!--% elsif admin_signed_in? %>-->
              <!--<li>%= link_to ' 会員一覧', admin_users_path, class: 'nav-link text-light' %></li>-->
              <!--<li>%= link_to ' チーム一覧', admin_orders_path, class: 'nav-link text-light'%></li>-->
              <!--<li>%= link_to ' Vスポーツ一覧', admin_genres_path, class: 'nav-link text-light' %></li>-->
              <!--<li>%= link_to ' ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %></li>-->
            <% else %>
              <li><%= link_to ' About'  , about_path, class: 'nav-link text-light' %></li>
              <li><%= link_to ' Vスポーツ一覧', teams_path, class: 'nav-link text-light' %></li>
              <li><%= link_to ' 新規登録', new_user_registration_path, class: 'nav-link text-light' %></li>
              <li><%= link_to ' ログイン', new_user_session_path, class: 'nav-link text-light'%></li>
              <!--<li>%= link_to ' 管理者ログイン', new_admin_session_path, class: 'nav-link text-light bg-danger' %></li>-->
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>